.top-bar {
    width: 100%;
    height: 75px;
    background-color: #ff8eea;
    display: flex;
    flex-direction: row;
} 

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #8c008c;
    display: flex;
    flex-direction: column;
}

.app-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #060306;
    margin-top: 14px;
    margin-left: 10px;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.search-bar input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #060306;
    padding: 5px;
    font-size: 16px;
}

.songlist {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 0 auto;
}

.songlist div {
    padding: 10px;
    width: 100%;
    height: 115px;
    border: 1px solid #060306;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box
}

.bottom-bar {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 0;
    padding: 0; 
    height: 50px;
}

.bottom-bar div {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #060306;
    background-color: #fafafa;
    color: rgb(246, 11, 226);
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    margin: 0;
}

